# MindYOLO requirements
# 说明：mindspore 建议按 Ascend/CPU 版本单独安装

pybind11>=2.10.4
setuptools<81
# mindspore
numpy>=1.17.0,<=1.26.4
PyYAML>=5.3
tqdm
opencv-python>=4.7.0.68
opencv-python-headless>=4.7.0.68
albumentations>=1.0.3
pycocotools>=2.0.2,<=2.0.7
